{{!-- Profile display --}}
<div class="container mt-3 bg-light">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-4">My Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-body bg-secondary text-white mb-3">
        <div class="row">
          <div class="col-md-4 m-auto text-center">
            <i class="fas fa-user-ninja fa-7x"></i>
            <div class="card-title text-center">
              {{#profile}}
              {{#if handle}}
              <h4 class="display-4 font-weight-bold mt-4">{{handle}}</h4>
              {{/if}}
              {{/profile}}
              <p class="lead">{{user.firstName}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <h3 class="text-center">More to come ...</h3>
        </div>
      </div>
      <div class="col-md-12 bg">
        <div class="row justify-content-center m-5">
          <form action="/profiles/{{user.id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method">
            <button type="submit" class="btn btn-danger">Delete Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>