{{#if success_msg}}
<div class="alert alert-success">
  <h3 class="text-center">{{success_msg}}</h3>
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">
  <h3 class="text-center">{{error_msg}}</h3>
</div>
{{/if}}