<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Roster App</a>
  <form action="/people" method="post" class="form-inline">
    <label for="name">
      <input class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="Name" id="name" name="name">
    </label>
    <label for="number">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="name" name="number">
    </label>

    <a href="/results" class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submitButton">Search</a>
  </form>
</nav>