<nav class="navbar navbar-light bg-secondary shadow mt-2 mb-2">
  <a href="/products" class="navbar-brand">
    <h3 class="text-white">Roster App</h3>
  </a>
  <form action="/products" method="post" class="form-inline">
    <label for="name">
      <input class="form-control mr-sm-2" type="text" placeholder="Name" name="name">
    </label>
    <label for="number">
      <input class="form-control mr-sm-2" type="text" placeholder="Number" name="number">
    </label>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>