<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Dashboard</h1>
    </div>
    <div class="col-md-8">
      <div class="jumbotron-fluid">
        <p class="lead">This is where the users are directed after they have logged in or clicked on a dashboard link.</p>
        <ul>
          <li>ID: {{id}}</li>
          <li>First Name: {{firstName}}</li>
          <li>Last Name: {{lastName}}</li>
          <li>Email: {{email}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>