<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome {{user.firstName}}</h1>
    </div>
    <div class="col-md-8">
      <div class="jumbotron-fluid">
        <p class="lead">This is where the users are directed after they have logged in or clicked on a dashboard link.</p>
        <a href="dashboard/roster">View Rosters</a>
        <a href="users/logout">LogOut</a>
      </div>
    </div>
  </div>
</div>