{{!-- Roster search and add form section --}}
{{#profile}}

<section class="row justify-content-center mt-4 mb-5 print-hidden">
  <div class="col-md-4">
    <form action="/profiles/add/roster/" method="post">
      <fieldset>
        <div class="form-group">
          <input type="title" class="form-control" name="title" id="inputName" aria-describedby="emailHelp" value={{title}}>
          <small id="nameHelp" class="form-text text-muted">This name will be displayed under each picture.</small>
        </div>
        <div class="form-group">
          <input type="name" class="form-control" name="name" id="inputName" aria-describedby="emailHelp" placeholder="Enter Name">
          <small id="nameHelp" class="form-text text-muted">This name will be displayed under each picture.</small>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="number" id="inputNumber" placeholder="Enter ID Number">
        </div>
        <button class="btn btn-outline-success btn-block my-2 my-sm-0" type="submit">Search</button>
      </fieldset>
    </form>
  </div>
</section>

{{!-- Display roster tiles --}}
<div class="row">
  {{#each roster}}
  {{> figure}}
  {{/each}}
</div>
{{/profile}}


{{!-- </div>
<div class="row mt-5">
  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div> --}}