{{#if user}}
<section class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-sm-12 col-md-9">
      <div class="jumbotron bg-secondary text-white text-center">
        <h1 class="display-4">{{user.firstName}}'s RosterApp</h1>
        <p class="lead">A place where {{user.firstName}} can build a face roster using an id number</p>
      </div>
    </div>
  </div>
</section>
{{else}}
<section class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-sm-12 col-md-9">
      <div class="jumbotron bg-secondary text-white text-center">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">A place where you can build your own face roster using an id number</p>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-4 mb-2">
      <a class="btn btn-primary btn-lg btn-block" href='/users/login'>Login</a>
    </div>
    <div class="col-sm-12 col-md-4">
      <a class="btn btn-primary btn-lg btn-block" href='/users/register'>Register</a>
    </div>
  </div>
</section>
{{/if}}
<section class="container">
  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">A Registered Users Sample Roster</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Check It Out</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">A Registered Users Sample Roster</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Check It Out</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">A Registered Users Sample Roster</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Check It Out</a>
        </div>
      </div>
    </div>
  </div>
</section>