<div class="container">
  <div class="jumbotron bg-light mt-3 text-center">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">A place where you can build your own face roster using an id number</p>
    <a href="/results">View Cards</a>
  </div>
</div>