body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 230, 230, 0.8)));
  background: linear-gradient(rgba(230, 230, 230, 0.8));
}

@media print {
  .print-hidden {
    display: none;
  }

  .custom-title {
    margin-bottom: 0;
  }
}
