<div class="container">
  {{#if product}}
  <div class="row">
    {{#each product}}
    {{> figure}}
    {{/each}}
  </div>
  {{else}}
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="display-4">No images in your roster</p>
      <p class="lead">Trying adding images using the top navigation bar!</p>
    </div>
  </div>
  {{/if}}
</div>