<div class="container">
  <div class="row">
    <div class="col-md-3">
      {{#if errors}}
      <h3 class="text-danger text-center">{{errors.message}}</h3>
      {{/if}}
    </div>
    <div class="col-sm-12 col-md-6">
      <form action="/users" method="POST">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control mb-2" name="firstName">
          <label for="name">Last Name</label>
          <input type="text" class="form-control mb-2" name="lastName">
          <label for="email">Email</label>
          <input type="email" class="form-control mb-2" name="email">
          <label for="password">Password</label>
          <input type="password" class="form-control mb-2" name="password">
          <button type="submit" class="btn btn-default btn-block mt-4">Create User</button>
      </form>
    </div>
  </div>
</div>