<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      {{> messages}}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-6 text-center">
      <h1><i class="fas fa-user-plus fa-3x"></i></h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form action="/users/register" method="POST">
        <fieldset>
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" name="firstName" value={{firstName}}>
            <label for="name">Last Name</label>
            <input type="text" class="form-control" name="lastName" value={{lastName}}>
            <label for="email">Email</label>
            <input type="email" required class="form-control" name="email" value={{email}}>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" value={{password}}>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create An Account</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>